/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree
 *= require_self
 */

 body {
  width: 90%;
  height:960px;
  background-image:url('wood');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  background-attachment: fixed;
}

.header-title {
  font-family: 'Playfair Display', serif;
  font-size: 55px;
}

.landing-page-title {
  margin-top: 15%;
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  text-align: center;
}

a {
  text-decoration: none;
}

.grid-demo-col {
  max-width: 250px;
  border: 2px solid white;
  padding: 10px;
  margin: 10px 10px;
  height: 280px;
  box-shadow: 10px 5px 5px black;
}

.nav-logo {
  font-size: 35px !important;
  font-weight: 600;
  color: orange;
  letter-spacing: -2px;
}

.nav-item {
  color: white;
}

button {
  margin-left: 30px !important;
}

.card .card-header {
  color: white !important;
  font-family: 'Playfair Display', serif;
}

.job-details {
  color: orange;
}

.job-show {
  margin-top: 20%;
}
