<!DOCTYPE html>
<html>
  <head>
    <title>ReactApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://unpkg.com/wingcss', "https://fonts.googleapis.com/css?family=Playfair+Display", media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class='nav'>
      <!-- <h5 class='nav-logo'>The Bacon</h5> -->
      <a class='nav-item' href='/'>
        <h5 class='nav-logo'>The Bacon</h5>
      </a>
      <a class='nav-item' href='/postings'>View Job Listings</a>
      <a class='nav-item' href='/postings/new'>Add a New Job Listing</a>
    </div>
    <%= yield %>
  </body>
</html>
